<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#"># Location 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"># Location 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"># Location 3</a>
        </li>
        </ul>
    </div>
    <div id="event-ballot">
        <% include ../partials/event-card %>
    </div>
    
</div>