<!-- row -->
<div class="row">
    
    <!-- cards start -->
    <div class="card-deck">
        <!-- card 1 -->
        <div class="card card-event">
            <!-- card header -->
            <div class="card-header">
                <span class="float-left">
                    <small>##/##/18</small>
                    <h5 class="card-title">Even title</h5>
                </span>
                <span class="float-right" data-vote="false">
                    <small id="number-votes" class="text-center">#</small>
                    <small class="text-center">Votes</small>
                    <h5 id="heart-vote" class="text-center"><i class="far fa-heart"></i></h5>
                </span>
            </div>
            <!-- card body -->
            <div class="card-body">
                <span>
                    <small><i class="fas fa-map-marker"></i>#Location</small>
                    <small><i class="far fa-clock"></i>##:## - ##:##</small>
                </span>
                <div class="img-placeholder"></div>
                <p class="card-text text-justify">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <!-- card footer -->
            <div class="card-footer">
                <span class="float-left text-muted">
                    <small>#</small>
                    <small>Families attending</small>
                </span>
                <span class="float-right text-muted">
                    <small>Created by</small>
                    <small>#</small>
                </span>
            </div>
        </div>

        <!-- card empty: Button trigger modal -->
        <div id="card-button" data-toggle="modal" data-target="#exampleModalCenter" class="card card-event card-empty pointer" >
            <div class="card-body d-flex justify-content-center align-items-center">
                <h1 class="plus-circle"><i class="fas fa-plus-circle"></i></h1>
            </div>
        </div>
        
        <!-- card empty end-->

        <!-- card empty: Button trigger modal  -->
        <div class="card card-event card-empty">
            <div class="card-body d-flex justify-content-center align-items-center">
                <h1 class="plus-circle"><i class="fas fa-plus-circle"></i></h1>
            </div>
        </div>
    </div>
    <!-- card empty end -->
    <!-- cards end -->
    


          
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <!-- modal header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create New Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- modal body -->
                <div class="modal-body">
                    <!-- form -->
                    <form>
                        <!-- Title -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="event-title" placeholder="Add Event Title">
                        </div>
                        <!-- Date and Time -->
                        <div class="form-group form-row">
                            <div class="col-5">
                                <input id="event-date" type="date" class="form-control" placeholder="00/00/00">
                            </div>
                            <div class="col-7">
                                <input id="event-time" type="time" class="form-control" placeholder="00:00PM">
                            </div>

                        </div>
                        <!-- Location (Google Places Autocomplete) -->         
                        <div class="form-group">
                            <input id="autocomplete" placeholder="Enter address"
                                onFocus="geolocate()" type="text" style="width: 100%"></input>
                        </div>                     
                        <!-- Description -->
                        <div class="form-group">
                            <textarea class="form-control" id="event-description" rows="3" placeholder="Add a description..."></textarea>
                        </div>
                    </form>

                </div>
                
                <!-- modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Save</button>
                </div>

            </div>
            <!-- end modal content div -->
        </div>
    </div>

    <!-- end row -->
    </div>

    
