<div class="card ballot-box">
    <div class="card-body white-text">
        <div class="float-left">
            <h4 id="event-ballot-location">California</h4>
            <a class="btn btn-primary" href="#">Tally Votes and Publish Winning Event</a>
        </div>
        
        <ul class="nav float-right">
            <li class="nav-item members-margin">
                <h4>Members</h4>
            </li>
            <li class="nav-item members-margin">
                <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
            </li>
            <li class="nav-item members-margin">
                <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
            </li>
            <li class="nav-item members-margin">
                <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
            </li>
        </ul>
    </div>
    <div id="event-ballot">
        <% include ../partials/event-card %>
    </div>
</div>