<div class="card ballot-box">
    <div class="card-body">
        <div class="cad-title float-left">
            <h4># Location Event Ballot</h4>
            <h6># Expiration time: 00/00/00 – 00:00PM</h6>
        </div>
        
        <ul class="nav float-right">
            <li class="nav-item members-margin">
                <h4>Family Members</h4>
            </li>
            <li class="nav-item members-margin">
                <h4><i class="fas fa-user-circle"></i></h4>
            </li>
            <li class="nav-item members-margin">
                <h4><i class="fas fa-user-circle"></i></h4>
            </li>
            <li class="nav-item members-margin">
                <h4><i class="fas fa-user-circle"></i></h4>
            </li>
        </ul>
    </div>

    <div id="event-ballot">
        <% include ../partials/event-card %>
    </div>
    
</div>