<div class="card ballot-box">
    <div class="card-body white-text">
        <div class="float-left">
            <h4 id="event-ballot-location" ># Location Event Ballot</h4>
            <h6 id="event-ballot-expiration"># Expiration <em>00/00/00 – 00:00PM</em></h6>
        </div>
        
        <ul class="nav float-right">
            <li class="nav-item members-margin">
                <h4>Members</h4>
            </li>
            <li class="nav-item members-margin">
                <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
            </li>
            <li class="nav-item members-margin">
                <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
            </li>
            <li class="nav-item members-margin">
                <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
            </li>
        </ul>
    </div>
    <div id="event-ballot">
        <% include ../partials/event-card %>
    </div>
</div>