<!-- Family icon and name -->
<nav class="navbar">
    <h1 class="navbar-brand">Avocado Family</h1>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user-circle"></i> User name
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Create Event Ballot</button>
            <button class="dropdown-item" type="button">Create Family Dashboard</button>
            <button class="dropdown-item" type="button">Join Dasboard</button>
            <button class="dropdown-item" type="button">Settings</button>
            <button class="dropdown-item" type="button">Log out</button>
        </div>
        </div>
</nav>
