<!-- Family icon and name -->
<nav class="navbar">
    <span class="navbar-brand d-flex justify-content-center">
        <a href="#"><img src="/assets/images/logo_ohana.svg" style="height:50px;width:50px;"></a>
    </span>
    <h1 class="yellow-text"><b>FIND AN EVENT</b></h1>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="nameText"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" id="new-ballot" type="button" data-toggle="modal" data-target="#create-new-ballot">Create Event Ballot</button>
            <button class="dropdown-item" id="new-dashboard" type="button" data-toggle="modal" data-target="#create-new-ds">Create Family Dashboard</button>
            <button class="dropdown-item" id="join-dashboard" type="button">Join Dasboard</button>
            <button class="dropdown-item" id="to-settings" type="button">Settings</button>
            <button class="dropdown-item" id="logout" type="button">Log out</button>
        </div>
        </div>
</nav>

<div>
    <% include modal-new-eb %>
</div>

<script>
    $.get("/api/user_data", function(data){
        document.getElementById("nameText").innerText = data.name;
    });
</script>