<!-- Modal -->
<div class="modal fade" id="create-new-ballot" tabindex="-1" role="dialog" aria-labelledby="eventBallot" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Create New Event Ballot</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- mMdal body -->
            <div class="modal-body">
                <!-- form -->
                <form>

                    <!-- Ballot Date-->
                    <div class="form-group">
                        <label for="ballotDate">Ballot Date</label>
                        <input id="ballot-date" type="date" class="form-control" placeholder="00/00/00">
                    </div>
                    <!-- Voting Deadline -->
                    <label for="deadline">Your Voting Deadline</label>
                    <div class="form-group form-row">
                        <div class="col-7">
                            <input id="event-date" type="date" class="form-control" placeholder="00/00/00">
                        </div>
                        <div class="col-5">
                            <input id="event-time" type="time" class="form-control" placeholder="00:00PM">
                        </div>
                    </div>

                </form>

            </div>
                
                <!-- modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg btn-block">Create</button>
            </div>
        </div>
    </div>
</div>

    