<!-- Modal -->
<div class="modal fade" id="create-new-ds" tabindex="-1" role="dialog" aria-labelledby="newDash" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Create New Family Dashboard</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- form -->
                <form>

                    <!-- Ballot Date-->
                    <div class="form-group">
                        <label for="dashName">Family Nickname</label>
                        <input id="new-ds" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="dashName">Select a Family Icon That Represents You</label>
                      
                        <div id="avatars">
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/coconut-drink.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/fish.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio"name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/flamingo.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/pineapple.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/surfboard.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/turtle.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/dessert.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/starfish.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/summer.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/fish2.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/tent.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/fire.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/plant.svg" alt=""/>
                            </label>
                            <label class="avatars">
                                <input type="radio" name="avatar"/>
                                <img style="width:50px;height:50px" src="/assets/images/moon.svg" alt=""/>
                            </label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newDashZipcode">Family Zipcode</label>
                        <input id="new-dash-zipcode" type="number" class="form-control" placeholder="">
                    </div>
                </form>
            </div>
                
                <!-- modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg btn-block">Create</button>
            </div>
        </div>
    </div>
</div>

    