<div class="container-fluid">
    <!-- sidebar -->               
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#"><img src="/assets/images/home-2.svg"></a>
            </li>
            <br>
            <li>
                <a href="#"><img src="/assets/images/avocado.svg"></a>
            </li>
            <li>
                <a href="#"><img src="/assets/images/whale.svg"></a>
            </li>
            <li>
                <a href="#"><img src="/assets/images/rainbow.svg"></a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#create-new-ds"><img src="/assets/images/add-grey.svg"></a>
            </li>
        </ul>
    </div>
<!-- end sidebar -->
</div>

<div>
    <% include modal-new-ds %>
</div>