body {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-repeat: no-repeat;
    background-size: cover;   
    font-family: 'Rubik', sans-serif;
}

.card-login {
    padding: 1.5rem;
    margin: 20rem;
    width: 30rem;
}

.card-register {
    padding: 1.5rem;
    margin: 20rem;
    width: 40rem;
}