<!-- Homa Page contains all the cards of our database -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container-fluid">
        <% include ../partials/navbar %>
        <div class="margin">
            <% include ../partials/header-navbar-public %>
            <hr>
            <div class="d-flex justify-content-center">
                <p class="text-center text-white intro-text-public">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <% include ../partials/event-card-public %>
        </div>


    </div>


</body>

</html>