<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>  
    <div class="container-fluid">
        <% include ../partials/navbar %>
        <div class="margin">
            <% include ../partials/header-navbar %>
            <hr>
            <div class="card ballot-box">
                <div class="card-body white-text">
                    <div class="float-left">
                        <h4 id="event-ballot-location" ># Location Event Ballot</h4>
                        <h6 id="event-ballot-expiration"># Expiration <em>00/00/00 – 00:00PM</em></h6>
                    </div>
                    
                    <ul class="nav float-right">
                        <li class="nav-item members-margin">
                            <h4>Members</h4>
                        </li>
                        <li class="nav-item members-margin">
                            <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
                        </li>
                        <li class="nav-item members-margin">
                            <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
                        </li>
                        <li class="nav-item members-margin">
                            <h4 class="green-text"><i class="fas fa-user-circle"></i></h4>
                        </li>
                    </ul>
                </div>
                <div id="event-ballot">
                    <!-- row -->
                    <div class="row">
                        <div class="card-deck">
                            <!-- DYNAMICALLY CREATED CARDS GO HERE -->

                            <!-- card empty: Button trigger modal -->
                            <div class="card card-event card-empty pointer" data-toggle="modal" data-target="#exampleModalCenter">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h1 class="plus-circle"><i class="fas fa-plus-circle"></i></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="js/family-dash.js" type='text/javascript'></script> -->
  
    <!-- <script type='text/javascript'>
      // heart click
        $("#heart-vote").on("click", function() {
            var state = $(this).attr("data-vote");

        if (state === "false") {
            $(this).html("<h5 class='text-center'><i class='fas fa-heart'></i></h5>");
            $(this).attr("data-vote", "true");
        } else {
            $(this).html("<h5 class='text-center'><i class='far fa-heart'></i></h5>");
            $(this).attr("data-vote", "false");
        }
        });

        // add new card
        $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
        });


        // Google Places API Address Autocomplete
        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                (document.getElementById('autocomplete')),
                {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                        var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

    

    </script> -->

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBOcG9uq1Dazbp6y6VNwDpLvbNidiI8Ts&libraries=places&callback=initAutocomplete" async defer></script> -->
<!-- <script src="js/family-dash.js" type='text/javascript'></script> -->


<script>
    // On page load
$( document ).ready(function() {
    var userFamId;
    $.get('/api/user_data',function(data) {//GETTING USER'S FAMILY ID
        userFamId = data.FamilyId;
        // console.log('user fam id:',userFamId)
        $.get(`/api/events/proposed/${userFamId}`, function(data) {
            console.log('proposed events data:',data)
            for (var idx=0; idx<data.length; idx++) {
                var eventCard = $(`
                    <div class="card shadow card-event">
                        <div class="card-header">
                            <span class="float-left">
                                <small>Last Updated: ${data[idx].updatedAt}</small>
                                <h5 class="card-title">${data[idx].title}</h5>
                            </span>
                            <span class="float-right" data-vote="false">
                                <small class="text-center">Current Vote Balance: ${data[idx].vote}</small>
                                <h5 id="heart-vote" data-heart='${data[idx].id}' class="text-center"><i class="far fa-heart"></i></h5>
                            </span>
                        </div>
                        <div class="card-body">
                            <span>
                                <small><i class="fas fa-map-marker"></i>${data[idx].location}</small>
                                <small><i class="far fa-clock"></i>${data[idx].start_time} - ${data[idx].end_time}</small>
                            </span>
                            <div class="img-placeholder">${data[idx].photo}</div>
                            <p class="card-text text-justify">${data[idx].description}</p>
                        </div>
                        <div class="card-footer">
                            <span class="float-left text-muted">
                                <small>Families attending:</small>
                                <small>${data[idx].num_families}</small>
                            </span>
                            <span class="float-right text-muted">
                                <small>Event Category:</small>
                                <small>${data[idx].category}</small>
                            </span>
                        </div>
                    </div>
                `);
                // eventCard.addClass('card').attr('id',`myevents-card-${idx}`)
                $('.card-deck').prepend(eventCard);
            } 
        })
    })    


  // heart click
    $("#heart-vote").on("click", function() {//CHANGES HEART COLOR
        console.log('heart clicked!')
        var state = $(this).attr("data-vote");

        if (state === "false") {
            $(this).html("<h5 class='text-center'><i class='fas fa-heart'></i></h5>");
            $(this).attr("data-vote", "true");
        } else {
            $(this).html("<h5 class='text-center'><i class='far fa-heart'></i></h5>");
            $(this).attr("data-vote", "false");
        }
    });

    // add new card
    $('#exampleModal').on('show.bs.modal', function (event) {//EVENT CREATION MODAL
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
    });


    // Google Places API Address Autocomplete
    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                    var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
});
    
</script>

</body>

</html>