<!-- Homa Page contains all the cards of our database -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container-fluid">
        <% include ../partials/navbar %>
        <div class="margin">
            
        </div>

    </div>


</body>

</html>